*{
    /*Aplico la fuente a todo el texto de la pagina, y corrijo las propiedades de las boxes*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

/*Hago que al scrollear con los links ancla sea suave*/
html {
    scroll-behavior: smooth;
}

/*El atributo transition es para que los estilos cambien de modo visual de forma suave*/
body {
    background:rgb(250, 249, 232);
    transition: all 0.5s;
}

footer{
    background-color:darkgrey;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/*Creo una clase para ocultar el body hasta que no se haya cargado el modo oscuro*/
.hidden {
    display: none;
}