header {
    width: 100%;
    background-color: rgb(234, 210, 178);
    padding-top: 20px;
    /*Ahora la barra de navegacion permanece siempre en la parte superior*/
    position: sticky;
    /*Necesario tambien fijarla en el top*/
    top: 0;
}

/*Uso las propiedades flex en el header para que quede bien alineado*/
header div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
}

/*Le doy fuente y color al logo de la pagina*/
header span {
    color:rgb(90, 30, 0);
    font-size: 35px;
    letter-spacing: 2px;
}

/*El boton del menu solo se mostrara en los moviles (media queries)*/
#menu {
    display: none;
    width: 30px;
}

/* || BOTON */

/*Le doy colores y forma al boton de Ver CV*/
.btn {
    background-color: rgb(244, 170, 91);
    text-decoration: none;
    border: 3px solid transparent;
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 30px;
    transition: transform .5s;
}

/*Le doy una animacion al boton de Ver CV al pasar por encima de este*/
.btn:hover {
    transform: scale(1.1);
    background-color:rgb(248, 221, 82);
    transition: .5s;
}

@media only screen and (max-width: 1200px) {
    header div {
        width: 90%;
    }
}

@media only screen and (max-width: 993px) {
    header {
        padding:  20px;
    }
        
    #menu {
        display: inline-block;
        margin: 0;
    }

    header span {
        font-size: 30px;
        letter-spacing: 1;
    }
}

@media only screen and (max-width: 768px) {
    header span {
        font-size: 25px;
        letter-spacing: 0;
    }

    .btn {
        font-size: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .btn {
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    header span {
        width: 300px;
        margin: auto;
        text-align: right;
    }

    .btn {
        display: block;
        width: fit-content;
        margin: auto;
        margin-top: 20px;
    }
}