main {
    max-width: 1024px;
    margin: auto;
}

.sobre-mi {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

#sobre_mi_nombre {
    font-size: 50px;
}

#sobre_mi_estudios {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#foto_perfil {
    display: block;
    margin-right: 20px;
    width: 400px;
    height: 400px;
    border: 3px solid rgb(90, 30, 0);
}

#div_habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lista_habilidades {
    list-style-type: none;
}

#lista_lenguajes {
    padding-left: 30px;
    list-style-type: disc;
}

#div_experiencia {
    width: 500px;
    margin: auto;
}

#link_github {
    color: rgb(132, 64, 29);
}

#experiencia_fermaq {
    padding-top: 20px;
}

/*Hago que los nombres de las instituciones se vean en cursiva*/
.institucion {
    font-style: italic;
}

.section-contacto {
    display: flex;
    justify-content: space-between;
}

.texto-bold {
    font-weight: bold;
}

#iconos_contacto {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i {
    color: black;
}

#div_mail_contacto {
    display: flex;
}

#mail_contacto {
    margin-left: 5px;
    width: 100%;
}

#mensaje_contacto {
    height: 50px;
    width: 100%;
    resize: none;
}

#boton_enviar {
    text-align: center;
}

/*Centro todos los titulos de las secciones*/
section h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

section h2,
h1 {
    scroll-margin-top: 150px;
}

section {
    padding: 20px 10px;
    border-top: 2px black solid;
}

.row-formacion {
    padding-bottom: 30px;
}

#div_contacto {
    max-width: 300px;
}

form input, form textarea {
    border-radius: 5px;
}

form>div {
    padding: 5px;
}

#div_nombre_telefono {
    display: flex;
    flex-direction: row;
}

#nombre_contacto {
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    main {
        max-width: 100%;
    }

    .sobre-mi {
        padding: 40px;
        flex-direction: column;
    }

    #sobre_mi_nombre {
        margin-top: 30px;
    }

    #sobre_mi_estudios {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #foto_perfil {
        margin-right: 0;
        width: 100%;
        height: auto;
    }

    #div_habilidades {
        padding: 10px;
    }

    #lista_habilidades li {
        margin: 5px 0;
    }

    #lista_lenguajes {
        padding-left: 50px;
        list-style-type: disc;
    }

    #div_experiencia {
        width: 100%;
        padding: 20px;
    }

    .section-contacto {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    section h2 {
        font-size: 26px;
    }

    section h2,
    h1 {
        scroll-margin-top: 100px;
    }

    section {
        padding: 20px 10px;
        border-top: 2px black solid;
    }

    .row-formacion {
        padding-bottom: 30px;
    }

    #div_contacto {
        max-width: 300px;
    }

    form input, form textarea {
        border-radius: 5px;
    }

    form>div {
        padding: 5px;
    }

    #div_nombre_telefono {
        display: flex;
        flex-direction: column;
    }

    #div_contacto {
        max-width: 100%;
        border-bottom: 2px solid #000;
        padding-bottom: 20px;
    }

    #div_contacto .row {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }

    #div_contacto .row div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .div-nom-tel-contacto {
        display: flex;
        flex-direction: row;
    }

    .div-nom-tel-contacto input {
        margin-bottom: 10px;
        margin-left: 5px;
        width: 100%;
    }
}