/* || GENERAL*/

main {
    max-width: 1024px;
    margin: auto;
}

section {
    padding: 20px 10px;
}

/*Uso flex para las sections que tienen columnas dentro*/
.section-columnas {
    display: flex;
    justify-content: space-between;
}

/*Centro todos los titulos de las secciones*/
section h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

/*Hace que al tocar los links ancla del nav, el mismo nav no tape los titulos*/
section h2, h1 {
    scroll-margin-top: 155px;
}

.row {
    display: flex;
    justify-content: center;
}

/*En lugar de usar columnas, hablo del primer hijo del contenedor dentro de la fila (primer columna)*/
.row div:nth-child(1){
    width: 30%;
    text-align: right;
    padding-right: 30px;
}

/*Del mismo modo trato al segundo hijo (segunda columna)*/
.row div:nth-child(2){
    width: 70%;
}

.bottom-espaciado {
    margin-bottom: 30px;
}

hr {
    border: 2px solid darkgray;
    border-radius: 5px;
}

section hr {
    display: none;
}

i {
    color: black;
}

/* || SECTION SOBRE MI*/

h1 {
    font-size: 50px;
}

h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    display: block;
    margin-right: 20px;
    width: 400px;
    height: 400px;
    border: 3px solid rgb(90, 30, 0);
}

/* || SECTION HABILIDADES*/

#lista_habilidades {
    list-style-type: none;
}

#lista_habilidades li {
    margin: 5px 0;
}

#lista_lenguajes {
    padding-left: 50px;
    list-style-type: disc;
}

/* || SECTION EXPERIENCIA*/

#div_experiencia {
    width: 500px;
    margin: auto;
}

#link_github {
    color: rgb(132, 64, 29);
}

#fermaq {
    margin-top: 20px;
}

/* || SECTION CONTACTO*/

#iconos_contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    padding: 20px 0;
    margin: auto;
}

#deja_tu_mensaje {
    max-width: 500px;
    margin: auto;
}

#div_nombre_telefono {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#div_nombre_telefono div {
    width: 48%;
}

#div_nombre_telefono input {
    width: 100%;
}

#div_mail_contacto {
    display: flex;
    flex-direction: row;
}

#mail_contacto {
    margin-left: 5px;
    width: 100%;
}

#mensaje_contacto {
    height: 60px;
    width: 100%;
    resize: none;
}

#boton_enviar {
    margin: auto;
    display:block;
    width: 70px;
    margin-top: 10px;
}

input, textarea {
    border-radius: 5px;
    border-width: 1px;
}

form > div {
    padding: 5px;
}

@media only screen and (max-width: 1200px) {
    main {
        max-width: 900px;
    }

    h1 {
        margin-top: 20px;
    }

    img {
        margin: 20px;
    }

    .row {
        padding: 10px;
    }

    .row div:nth-child(1){
        width: 40%;
    }

    .row div:nth-child(2){
        width: 60%;
    }

    section h2 {
        margin-top: 10px;
    }

    #section_contacto {
        padding: 10px 0px;
        flex-direction: column;
        display:flex;
        justify-content: space-between;
        width: 100%;
    }

    section hr {
        display:block;
    }

    #deja_tu_mensaje {
        width: 90%;
        margin: auto;
    }

    #div_nombre_telefono {
        flex-direction: column;
    }

    #div_nombre_telefono div {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #div_nombre_telefono input {
        margin-bottom: 10px;
        margin-left: 5px;
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    main {
        max-width: 100%;
    }

    img {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    section h2 {
        font-size: 26px;
        margin-top: 10px;
    }

    section h2,
    h1 {
        scroll-margin-top: 110px;
    }

    section {
        padding: 10px 10px;
    }

    .bottom-espaciado {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 768px) {

    .section-columnas {
        padding: 40px;
        flex-direction: column;
        display:flex;
        justify-content: space-between;
        width: 100%;
    }

    h1 {
        margin-top: 30px;
    }

    img {
        margin: 0px;
        width: 100%;
        height: auto;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .row div:nth-child(1){
        width: 100%;
        margin: auto;
        padding-right: 0px;
        text-align: center;
    }

    .row div:nth-child(2){
        width: 100%;
        margin: auto;
        text-align: center;
    }

    #div_experiencia {
        width: 100%;
        padding: 20px;
    }

    section h2,
    h1 {
        scroll-margin-top: 100px;
    }
}

@media only screen and (max-width: 500px) {
    section h2,
    h1 {
        scroll-margin-top: 150px;
    }
}
