/* Elementos del nav */
nav {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 100%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

/*Decoro los links del nav con transiciones*/
.ancla {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}

.ancla:hover {
    color: rgb(229, 90, 39);
    transition: .5s;
}

#boton_cambio_modo {
    cursor: pointer;
    background-color: rgba(34, 31, 31, 0.766);
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px 5px;
    border-radius: 15px;
}

#boton_cambio_modo:hover #luna{
    color: black;
    transition: .5s;
}

#luna {
    color: white;
    transition: .5s;
}

#cruz {
    display: none;
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 12px;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(222, 184, 135, 0.815);
        display: none;
    }

    .darkmode nav {
        background: rgba(62, 61, 59, 0.815);
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    #cruz {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
    }
}
