*{
    /*Aplico la fuente a todo el texto de la pagina, y corrijo las propiedades de las boxes*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background-color: rgb(234, 210, 178);
    padding-top: 20px;
    position: sticky; /*Ahora la barra de navegacion permanece siempre en la parte superior*/
    top: 0; /*Necesario tambien fijarla en el top*/
}

header div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
}

/* Elementos del nav */
nav {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

#header_logo_nombre {
    color:darkslateblue;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul {
    width: 100%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

/*Decoro los links del nav con transiciones*/
nav ul li a{
    color:rgb(11, 11, 97);
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}

nav ul li a:hover{
    color:aqua;
    transition: .5s;
}

.btn {
    background-color: aquamarine;
    color:black;
    text-decoration: none;
    border: 3px solid transparent;
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 30px;
    transition: transform .5s;
}

/*Le doy una animacion al boton de Ver CV al pasar por encima de este*/
.btn:hover {
    transform: scale(1.1);
    background-color:blueviolet;
    transition: .5s;
}

main{
    max-width: 1024px;
    margin: auto;
    padding-top: 40px;
}

.sobre-mi{
    display: flex;
    justify-content: space-between;
}

#sobre_mi_nombre {
    font-size: 32px;
}

#foto_perfil{
    display: block;
    margin-right: 20px;
    width: 500px;
    height: 500px;
}

#contenedor_habilidades {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lista_lenguajes {
    padding-left: 20px;
}

#contenido_experiencia {
    padding: 10px 200px;
}

.section-contacto{
    display: flex;
    justify-content: space-between;
}

i {
    color: black;
}

#mensaje_contacto {
    height: 100px;
}

footer{
    background-color:darkgrey;
    text-align: center;
    padding: 10px;
}

/*Centro todos los titulos de las secciones*/
section h2 {
    text-align: center;
}

section {
    padding: 10px 10px;
    border-top: 2px black solid;
}

div.row {
    padding-bottom: 30px;
}

.row {
    display: flex;
    justify-content: center;
}

/*En lugar de usar columnas, hablo del primer hijo del contenedor dentro de la fila (primer columna)*/
.row div:nth-child(1){
    width: 40%;
    text-align: right;
    padding-right: 30px;
}

/*Del mismo modo trato al segundo hijo (segunda columna)*/
.row div:nth-child(2){
    width: 60%;
}

/*Hace que el resto del contenido pase a estar debajo del div (lo saque de W3Schools)*/
.row:after {
    content: "";
    display: table;
    clear: both;
  }