*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.sectionContact{
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: center;
}

.row div:nth-child(1){
    width: 40%;
    background-color: azure;
    text-align: right;
    padding-right: 30px;
}

.row div:nth-child(2){
    width: 60%;
}

/* Lo saque de w3s, hace que el resto del contenido pase a estar debajo del div
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

header {
    width: 100%;
    background-color: burlywood;
    padding-top: 20px;
    position: sticky; /*Set the navbar to fixed position*/
    top: 0; /* Position the navbar at the top of the page */
}

header div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
}

/* Elementos del nav */
nav {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%; /* Full width */
}

.logo {
    color:darkslateblue;
    font-size: 35px;
    letter-spacing: 1px;
    cursor:pointer;
}

nav ul {
    width: 100%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color:blue;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}

nav ul li a:hover{
    color:aqua;
    transition: .5s;
}

.btn {
    background-color: aquamarine;
    color:black;
    text-decoration: none;
    border: 3px solid transparent;
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 30px;
    transition: transform .5s;
}

.btn:hover {
    transform: scale(1.2);
    background-color:blueviolet;
    transition: .5s;
}

main{
    max-width: 1024px;
    margin: auto;
    padding-top: 40px; 
}

.sobreMi{
    display: flex;
    justify-content: space-between;
}

#sobre_mi {
    font-size: 32px;
}

#fotoPerfil{
    display: block;
    margin-right: 20px;
    width: 500px;
    height: 500px;
}

.section_hablilidades div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista_lenguajes {
    padding-left: 20px;
}

footer{
    background-color:darkgrey;
    text-align: center;
    padding: 10px;
}

section h2 {
    text-align: center;
}

section {
    padding: 10px 10px 10px 10px;
    border-top: 2px black solid;
}

div.row {
    padding-bottom: 30px;
}

#contenido_experiencia {
    padding: 10px 200px 10px 200px;
}

#mensaje_contacto {
    height: 100px;
}