.column {
    float: left;
    width: 50%;
  }
/* Lo saque de w3s, hace que el resto del contenido pase a estar debajo del div
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }